<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>图书分类</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript">
  $(function(){
    var items = document.getElementsByTagName("a");
    for(var i=0;i<items.length;i++){
      items[i].setAttribute('data-ajax',false);
    }
  })
</script>
<style>
body {
  margin: 0 auto;
  text-align:center;
  padding:0;
}
div, ul, li, dl, dt, dd, h1, h2, h3, h4, p {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  text-decoration:none;
}

 .ui-bar-f
{
background-color:#FF6;
border:#FF0 1px solid;
}
</style>
</head>

<body>
<div data-role="page">
  <div data-role="header" data-theme="f"> 
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home">首页</a>
    <h1>图书列表</h1>
  </div>
  <div data-role="content">
     <ul data-role="listview"  data-inset="true" >
        {volist name='blist' id='bdata'}
             <li>
                <a data-ajax="false" href="book?book_id={$bdata.book_id}">
                    <img src="/mbook/public/static/images/{$bdata.book_img}"  />
                    <span>{$bdata.book_name}</span><br/>
                    <span>原价：￥{$bdata.book_oldprice|round=2}</span><br/>
                    <span  style="color:#F09">折后价：￥{$bdata.book_newprice|round=2}</span>
                </a>
             </li>
        {/volist}
     </ul>
     <div>{$page}</div>
  </div>
  <div data-role="footer" data-theme="f">
    <h1>机电书店</h1>
  </div>
</div>
</body>
</html>
