<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>修改密码</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
<style>
body {
  margin: 0 auto;
  text-align:center;
  padding:0;
}
div, ul, li, dl, dt, dd, h1, h2, h3, h4, p {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  text-decoration:none;
}

 .ui-bar-f
{
background-color:#FF6;
border:#FF0 1px solid;
}
</style>
</head>

<body>
<div data-role="page" id="page1">
  <div data-role="header" data-theme="f"> 
    <h3 id="reg"> 修改密码 </h3>
  </div>
  <div data-role="content">
    <form name="RegForm" method="post" action="newpswdo" data-ajax="false">
      <div data-role="fieldcontain">
        <label for="oldpassword"> 旧密码 </label>
        <input name="oldpassword" id="oldpassword" placeholder="" value="" type="password" required>
      </div>
      <div data-role="fieldcontain">
        <label for="newpassword"> 新密码 </label>
        <input name="newpassword" id="newpassword" placeholder="" value="" type="password" required>
      </div>
      <div data-role="fieldcontain">
        <label for="repass"> 确认密码 </label>
        <input name="repass" id="repass" placeholder="" value="" type="password" required>
      </div>
      
      <div >
        <input data-inline="true" type="submit" name="submit" value="修改"  />
        <a data-inline="true"  data-role="button"  href="message.html" data-ajax="false"> 取消 </a> 
      </div>
    </form>
  </div>
</div>
</body>
</html>
